<navigation></navigation>

<div class="vertical-center">
  <div>
    <div class="col-md-6 col-md-offset-3">
      <div class="form-auth">
        <img class="center-block" src="/images/logo.svg" style="width: 70px; height: 70px;">
        <h3 class="text-center lead" style="border-bottom: 1px solid #c5c5c5;"></h3>
        <p class="lead">Card number already registered? Please <a href="/#login?page={{ vm.returnPage }}">log in</a> instead.</p>
        <form name="registerForm" ng-submit="vm.onSubmit()" class="form-horizontal">
          <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
          <fieldset>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input class="form-control" placeholder="Enter your username (same with PET)" name="username" type="text" ng-model='vm.credentials.username' id="username" required autofocus>
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-credit-card"></i>
              </span>
              <input class="form-control" placeholder="Enter your 5-digit card number from badge (same with FALCO)" name="cardNumber" type="number" ng-model='vm.credentials.cardNumber' id="cardNumber" min="10000" max="99999" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <footer-generic class="text-center"></footer-generic>
  </div>
</div>
